#conv-layout-customer {
    overflow: auto;
}

.customer-extra {
    margin-top: 10px;
}
.customer-data {
    padding: 0;
}
.stripe-container {
    padding: 5px 2px 5px 0;
    font-family: "system-ui", "-apple-system", "BlinkMacSystemFont", "Segoe UI",
        "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "sans-serif",
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.stripe-heading .stripe-title h4 {
    color: #2a3b47;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
.stripe-container .stripe-product input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.stripe-container .stripe-product .tabs {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 2px -1px rgba(238, 238, 234, 0.1);
}
.stripe-container .stripe-product .tab {
    width: 100%;
    color: #000;
    overflow: hidden;
}

.stripe-container .stripe-product .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: rgb(236, 237, 239);
    font-weight: bold;
    cursor: pointer;
    margin: 0px;
    text-transform: capitalize;
    font-size: 12px;
}
.stripe-container .stripe-product .tab-label:hover {
    background: #d7d6d6;
}
.stripe-container .stripe-product .tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
}
.stripe-container .stripe-product .tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #000;
    background: #f8f9f9;
    transition: all 0.35s;
}
.stripe-container .stripe-product .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #f5f5f5;
    cursor: pointer;
}
.stripe-container .stripe-product .tab-close:hover {
    background: #cdcccc;
}
.stripe-container .stripe-product input:checked + .tab-label {
    background: #f1f1f1;
}
.stripe-container .stripe-product input:checked + .tab-label::after {
    transform: rotate(90deg);
}
.stripe-container .stripe-product input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
}

.stripe-container .stripe-product .tab-content .subscription-title,
.stripe-container .stripe-product .tab-content .invoice-title {
    font-size: 12px;
    font-weight: bold;
}
.stripe-container .stripe-product .tab-content .subscriptions,
.stripe-container .stripe-product .tab-content .invoices {
    margin-top: 6px;
}
.stripe-container .stripe-product .first-invoice,
.stripe-container .stripe-product .first-subscription {
    border-top: 1px solid rgb(205, 201, 201);
}

.stripe-container .stripe-product .tab-content .subscriptions .subscription,
.stripe-container .stripe-product .tab-content .invoices .invoice {
    padding: 5px 0px;
    font-size: 12px;
    display: block;
    border-bottom: 1px solid rgb(205, 201, 201);
}

.stripe-container .stripe-product .status {
    display: inline-block;
    padding: 1px 7px;
    background-color: #bced94;
    border-radius: 5px;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
}

.stripe-container .stripe-product .tab-content .price {
    display: inline-block;
    font-weight: bold;
}
.stripe-container .stripe-product .tab-content .date-time {
    display: inline-block;
    font-size: 11px;
}
